:root {
    --primary-color: #000000;
    --secondary-color: #dadbf1;
    --tertiary-color: #fff;
    --quaternary-color: #4C5FD5;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}


/* navbar mobile styles */

#nav-mobile {
    background-color: var(--primary-color);
    width: 100%;
    display: none;
}

#nav-mobile > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#brand-container {
    width: 10rem;
}

#search-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#search-menu-container > div {
    width: 2rem;
}

img[src="imgs/brand.svg"] {
    width: 100%;
    cursor: pointer;
}

img[src="imgs/assets/search_white_24dp.svg"] {
    width: 100%;
    cursor: pointer;
}

img[src="imgs/assets/menu_white_24dp.svg"] {
    width: 100%;
    cursor: pointer;
}

/* navbar desktop styles */

#nav-desktop {
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: none;
}

#nav-desktop > div {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-request-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 1em;
}

#Submit-request {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: larger;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--primary-color);
    padding: 0.5em 1em;
}

#sign-in {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: larger;
    border: 1px solid var(--quaternary-color);
    border-radius: 8%;
    background-color: var(--quaternary-color);
    padding: 0.5em 1em;
}

@media (hover: hover) {
    #sign-in:hover {
        background-color: var(--tertiary-color);
        color: var(--primary-color);
    }
}


/* responsive navbar styles */

@media only screen and (min-width: 1024px) {
    #nav-desktop {
        display: flex;
    }
}

@media only screen and (max-width: 1023px)
{
    #nav-mobile {
        display: flex;
    }
}

/* hero section */

#hero-container {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#hero-title {
    text-align: center;
    width: 100%;
}

#hero-section > div {
    max-width: 700px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: relative;
}

img[src="imgs/arrow-symbol.svg"] {
    width: 2em;
    position: absolute;
    right: 0.5em;
}

#search {
    width: 100%;
    padding: 1em;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: larger;
}

/* information section styles */

#information-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding: 5rem 0;
}

#information-container > section {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    gap: 1em;
    width: 100%;
}


.image-container > img {
    width: 100%;
}

.content-container > p {
    font-size: 1.5rem;
}

.content-container > a {
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
}

@media (hover: hover) {
    .content-container > a:hover {
        text-decoration: underline;
    }
}

/* responsive information section styles */

@media only screen and (min-width: 1024px) {
    #information-container {
        grid-template-columns: repeat(2, 1fr);
    }
}





